<!doctype html>
<html>
  <head>
    <title>Puppy Adoption Site</title>
  </head>
  <body>

      <img src="https://s3.amazonaws.com/learn-verified/puppies.gif">
      <p>Puppies, Puppies Everywhere!</p>

      <%= yield%>


  </body>
</html>
